body {
	font-family: Georgia;
	font-size: 13px;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

#content {
	width: 640px;
    min-height: 200px;
	padding: 20px;
	margin: auto;
	color: #000;
    background-color: #eee;
	border: 1px dotted #ff8040;
}




.doozR-Formhelper-row {
    float:left;
    border: 1px dashed #00ff40;	
}

.doozR-Formhelper-col {
    float:left;
	padding-left:10px;
    border: 1px dotted #ff0000;
}