# Project specific
*.bak
*.tmp
*.log
*.old
__*/
/.buildpath
/.project
docs/html/*
/.settings
/App/Data/Private/Temp/*.php
/.externalToolBuilders

# Jetbrains / IDE
/.idea

# Composer
/vendor
composer.lock

# Node & npm
/npm_modules

