<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.8/phpunit.xsd"
         bootstrap="../../../../../lib/DoozR/Bootstrap.php"
         backupGlobals="false"
         verbose="true"
         convertNoticesToExceptions="false"
         convertErrorsToExceptions="false"
         convertWarningsToExceptions="false">
    <testsuites>
        <testsuite name="DoozR-Service-Http">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="DOOZR_IS_UNIT_TEST" value="true"/>
        <includePath>.</includePath>
        <includePath>../../../../../lib</includePath>
    </php>
</phpunit>
